#container-login {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(30, 51, 91, 0.153);
}

@media (max-width: 470px) {
    body {
        background-color: rgb(136, 178, 254);
    }

    #container-login {
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(136, 178, 254);
    }
}